/* ============================================ *
 * Header
 * ============================================ */

.site-hdr {
    position: relative;

    &-wrap {
        width: $max-content-width;
        max-width: 100%;
        margin: 0 auto 25px;
    }

    &-account {
        padding: 27px 0 22px;
        text-align: right;
        transition: all .1s ease;
    }

    &-acctext,
    &-acclink {
        display: inline-block;
        vertical-align: middle;
        color: #777775;
        font-size: 16px;
        font-family: $f-stack-sp-second;
        font-weight: 600;
    }

    &-acctext {
        padding: 0 8px;
    }

    &-acclink {
        text-decoration: none;

        &:hover {
            text-decoration: none;
            color: $c-dark;
        }
    }

    &-menurow {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-main-menu {
        padding-right: 10px;
    }

    &-mobmenuswich {
        display: none;
        font-size: 20px;
        color: $c-dark;
    }

    &-menuitem {
        display: inline-block;
        vertical-align: middle;

        > a {
            position: relative;
            display: block;
            padding: 8px 23px;
            color: #282723;
            font-size: 22px;
            letter-spacing: .7px;
            text-decoration: none;
            transition:  all .1s linear;
            font-family: $f-stack-special;

            &:after {
                position: absolute;
                bottom: 0;
                left: 23px;
                right: 23px;
                height: 2px;
                content: "";
                background: transparent;
                transition: all .1s ease;
            }
        }

        &:hover {
            > a {
                &:after {
                    background: $c-dark;
                }
            }

            .site-hdr-menu-dropdown {
                height: auto;
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &-menu-dropdown {
        position: absolute;
        top: 123px;
        left: 0;
        z-index: 3;
        width: 100%;
        height: 0;
        opacity: 0;
        visibility: hidden;
        padding: 0 30px 0;
        background: #fff;
        transition: all .3s ease;
        overflow: hidden;

        .site-hdr-wrap {
            padding: 40px 0 19px;
            font-size: 0;

            &:after {
                display: block;
                clear: both;
                content: "";
            }
        }
    }

    &-menu-category {
        display: inline-block;
        vertical-align: top;
        width: 338px;
        padding-left: 12px;
    }

    &-category-items {

    }

    &-category-item {
        a {
            font-size: 16px;
            color: $c-dark;
            text-decoration: none;
            letter-spacing: 0.7px;
            font-family: $f-stack-special;

            &:hover {
                color: $c-dark + #333;
            }
        }
    }

    &-menudrop-title {
        display: block;
        margin-bottom: 6px;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 0.6px;
        color: #777775;
        font-weight: 400;
        font-family: $f-stack-special;
    }

    &-menu-additional {
        float: right;
        width: 100%;
        max-width: 350px;
    }

    &-additional-link {
        display: block;
        padding-top: 8px;

        &:hover {
            text-decoration: none;

            .site-hdr-additional-text {
                color: $c-dark + #333;
            }
        }
    }

    &-additional-pic {
        max-width: 100%;
    }

    &-additional-text {
        display: block;
        margin-top: 19px;
        padding-right: 60px;
        font-size: 16px;
        color: $c-dark;
        line-height: 20px;
        letter-spacing: 0.95px;
        text-decoration: none;
        font-family: $f-stack-special;
    }

    &-search-cart {
        position: relative;
        text-align: right;
        line-height: 20px;
    }

    &-search {
        display: inline-block;
        vertical-align: middle;
        width: 292px;
        font-size: 0;

        *:focus {
            outline: none;
        }

        .input-box {
            padding-top: 0;
        }

        .site-hdr-txtinp {
            display: inline-block;
            vertical-align: middle;
            width: 246px;
            height: 40px;
            padding: 0 14px;
            font-family: $f-stack-sp-second;
            background: #E1DFE0;
            border: none;
            border-radius: 0;

            &::-webkit-input-placeholder {
                color: #282723;
            }
            &::-moz-placeholder {
                color: #282723;
            }
            &:-ms-input-placeholder {
                color: #282723;
            }
            &:-moz-placeholder {
                color: #282723;
            }
        }
    }

    &-srchbtn {
        display: inline-block;
        vertical-align: middle;
        width: 40px;
        height: 40px;
        margin-left: 6px;
        line-height: 40px;
        text-align: center;
        font-size: 20px;
        color: #fff;
        border: none;
        background: $c-dgray;
        transition: all .1s ease;

        &:hover {
            background: $c-dark;
        }
    }

    &-cart {
        display: inline-block;
        vertical-align: middle;
        font-size: 0;

        .dropdown-parent-swich {
            position: relative;
            display: block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            color: #fff;
            font-size: 20px;
            border: none;
            background: $c-dgray;
            cursor: pointer;
            transition: all .1s ease;

            &:hover {
                background: $c-dark;
            }
        }

        .dropdown-parent-object {
            position: absolute;
            top: 45px;
            right: 0;
            left: 0;
            padding: 25px;
            background: $c-dgray-opacity;
            z-index: 3;
            max-height: 550px;
            overflow: auto;
        }
    }

    &-cartcount {
        position: absolute;
        top: 14px;
        left: 12px;
        width: 15px;
        padding: 0 2px;
        color: $c-dark;
        font-size: 12px;
        line-height: 14px;
        font-family: $f-stack-special;
        background: #fff;
    }

    &-cartitem {
        display: block;
        padding: 0;
        margin-bottom: 20px;
        font-size: 0;

        a {
            padding: 0;

            &:hover {
                background: transparent;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &-cartitempic {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 75px;

        img {
            max-width: 100%;
        }
    }

    &-cartitemdata {
        display: inline-block;
        vertical-align: top;
        padding-left: 94px;
        margin-left: -75px;
        margin-top: -5px;
        width: 100%;
        text-align: left;
    }

    &-cartitemtitle {
        display: block;
        font-size: 16px;
        color: $c-dark;
        font-family: $f-stack-sp-second;

        &:hover {
            color: $c-dark;
        }
    }

    &-cartitemprice {
        font-family: $f-stack-sp-second;
        font-weight: 600;
        color: #fff;
        font-size: 14px;
    }

    &-cartitemqty {
        padding-top: 5px;

        dt {
            display: inline-block;
            vertical-align: middle;
            font-size: 14px;
            color: #fff;
        }

        dd {
            display: inline-block;
            vertical-align: middle;
            padding-left: 10px;
        }
    }

    .site-hdr-cartiteminput {
        display: inline-block;
        vertical-align: middle;
        width: 40px;
        height: 30px;
        font-size: 14px;
        color: $c-dark;
        text-align: center;
        border: none;
        background: #fff;
        border-radius: 0;
    }

    .quantity-button {
        display: inline-block;
        vertical-align: middle;
        padding: 5px 10px;
        line-height: 20px;
    }

    .header-minicart .empty {
        font-size: 14px;
    }

    @include bp(max-width, 1260px) {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;

        .site-hdr-main-menu {
            padding-right: 0;
        }
    }

    @include bp(max-width, $bp-xlarge) {
        &-menuitem {
            > a {
                padding: 5px 10px;
                font-size: 18px;

                &:after {
                    right: 10px;
                    left: 10px;
                }
            }

            &-imp {
                > a {
                    padding: 5px 15px;
                }
            }
        }

        &-menu-category {
            width: 250px;
            padding-left: 0;
            padding-right: 20px;
        }
    }

    @include bp(max-width, 999px) {
        &-account,
        &-search-cart {
            text-align: left;
        }

        &-logo {
            display: block;
            margin-bottom: 22px;
        }

        &-menuitem {
            > a {
                padding: 2px 20px 2px 0;

                &:after {
                    right: 20px;
                    left: 0;
                }
            }
        }

        &-search-cart {
            width: 100%;
            margin-top: 22px;
        }

        &-menurow {
            display: block;
        }

        &-menu-dropdown {
            top: 176px;

            .site-hdr-menu-category,
            .site-hdr-menu-additional {
                width: 33%;
            }

            .site-hdr-additional-text {
                padding-right: 0;
            }
        }
    }

    @include bp(min-width, 591px) {
         .site-hdr-main-menu {
             display: inline-block!important;
         }
    }

    @include bp(max-width, 590px) {
        &-mobmenuswich {
            display: block;
        }

        &-menuitem {
            display: block;

            > a {
                &:after {
                    display: none;
                }
            }
        }

        &-main-menu {
            display: none;
            margin-top: 5px;
        }

        .site-hdr-menu-dropdown {
            position: static;
            padding-left: 0;
            padding-right: 0;

            .site-hdr-wrap {
                padding-top: 20px;
            }

            .site-hdr-menu-additional {}
        }
    }

    @include bp(max-width, $bp-xsmall) {
        padding: 0 15px;
        margin-bottom: 0;

        &-search-cart {
            width: 100%;
            font-size: 0;
        }

        &-search {
            position: relative;
            width: 100%;
            padding-right: 88px;
            margin-right: -40px;

            .site-hdr-txtinp {
                width: 100%;
            }

            .site-hdr-srchbtn {
                position: absolute;
                top: 0;
                right: 44px;
            }
        }
    }
}