.sidabar-unit {
    padding-bottom: 56px;

    &-title {
        margin: 0;
        padding: 3px 0 5px;
        text-align: center;
        font-size: 16px;
        font-family: $f-stack-special;
        font-weight: 400;
        color: #fff;
        background: $c-dark;

        span {
            display: none;
        }

        @include bp (max-width, 770px) {
            position: relative;
            padding: 0 25px 0 15px;
            font-size: 0;
            text-align: left;

            span {
                display: inline-block;
                font-size: 16px;
                line-height: 30px;
            }

            &:after {
                position: absolute;
                right: 15px;
                top: 50%;
                width: 8px;
                margin-top: -4px;
                text-align: center;
                content: '\e906';
                font-family: 'icomoon';
                color: #fff;
                font-size: 8px;
                line-height: 8px;
            }
        }
    }

    .block-subtitle {
        margin-bottom: 0;
        padding: 5px 16px 6px;
        font-family: $f-stack-special;
        font-size: 14px;
        font-weight: 400;
        color: $c-dark;
        background: #E1DFE0;
    }

    .currently {
        ol {
            padding: 15px;

            li {
                font-size: 14px;
                font-family: $f-stack-special;

                .btn-remove {
                    &:after {
                        color: $c-dark;
                    }

                    &:hover {
                        text-decoration: none;
                        background: $c-dark;
                        border-color: transparent;

                        &:after {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    .actions {
        padding: 0 5px 10px 16px;

        a {
            font-size: 14px;
            color: $c-dark;
            font-family: $f-stack-special;
        }
    }



    &-top {
        @include bp (max-width, 770px) {
            display: none;
        }
    }

    @include bp (max-width, 770px) {
        padding-bottom: 0;

        &-title {
            &.active {
                &:after {
                    content: '\e907';
                    font-size: 3px;
                }
            }
        }

        &-body {
            display: none;

            &.mob-active {
                display: block;
            }
        }
    }
}

.sb-shopby {
    &-title {
        margin-bottom: 0;
        padding: 5px 16px 6px;
        font-family: $f-stack-special;
        font-size: 14px;
        font-weight: 400;
        color: $c-dark;
        background: #E1DFE0;
    }

    &-list {
        padding: 7px 16px 19px;
    }

    li {
        padding: 4px 0 3px;

        a {
            display: block;
            text-decoration: none;
            font-size: 16px;
            line-height: 1.2;
            letter-spacing: -0.15px;
            color: $c-dark;
            font-family: $f-stack-sp-second;
        }

        .count {
            display: inline;
            color: #777775;
            font-family: $f-stack-special;
        }
    }

    &-link {
        display: inline-block;
        cursor: pointer;

        &:hover {
            .sb-shopby-item-name {
                text-decoration: underline;
            }
        }
    }
}

.sb-top {
    &-list {
        padding: 15px 0 30px;
    }

    &-item {
        position: relative;
        padding: 8px 0;
        padding-right: 85px;
        font-size: 0;

        &-pic {
            display: inline-block;
            vertical-align: middle;
            width: 55px;
        }

        &-data {
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            padding-left: 78px;
            margin-left: -55px;
            line-height: 1.2;
            font-size: 16px;
            font-family: $f-stack-sp-second;
        }

        &-title {
            display: block;
            color: $c-dark;
        }

        &-price {
            display: block;
            color: #777775;
        }

        &-buy {
            position: absolute;
            top: 50%;
            right: 0;
            width: 78px;
            margin-top: -18px;
            text-align: center;
            font-size: 16px;
            line-height: 34px;
            font-family: $f-stack-special;
            color: $c-dark;
            background: #E1DFE0;
            transition: all .3s ease;

            &:hover {
                color: #fff;
                text-decoration: none;
                background: $c-dark;
            }
        }
    }

    &-link {
        text-decoration: none;

        &:hover {
            .sb-top-item-title {
                color: $c-dark + #222;
            }
        }
    }

    @include bp(max-width, $max-content-width) {
        .sb-top-item-data {
            padding-left: 70px;
        }
    }

    @include bp(max-width, 1150px) {
        .sb-top-item {
            padding-right: 0;
        }

        .sb-top-item-buy {
            display: none;
        }
    }
}