.homepage-offer {
    margin-bottom: 44px;
    padding: 265px 10px 200px;
    text-align: center;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    &-background {
        position: absolute;
        width: 0;
        left: -100%;
        visibility: hidden;
        opacity: 0;
    }

    &-title {
        margin: 0;
        color: #fff;
        font-family: $f-stack-special;
        font-size: 48px;
        font-weight: 700;
        letter-spacing: 7.5px;

        @include bp (max-width, $bp-small) {
            font-size: 30px;
        }
    }

    .homepage-offer-description {
        display: inline-block;
        margin: 32px 0 0;
        max-width: 605px;
        font-size: 20px;
        color: #fff;
        letter-spacing: 3.35px;
        line-height: 23px;
        font-family: $f-stack-sp-second;
    }

    &-shopnow {
        margin-top: 88px;

        .main-btn {
            padding: 10px 39px;
            font-family: $f-stack-special;
            letter-spacing: 1.2px;
        }
    }

    @include bp (max-width, $bp-large) {
        padding: 105px 10px 85px;

        &-shopnow {
            margin-top: 50px;
        }
    }
}