@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kmqtjf');
  src:  url('fonts/icomoon.eot?kmqtjf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kmqtjf') format('truetype'),
    url('fonts/icomoon.woff?kmqtjf') format('woff'),
    url('fonts/icomoon.svg?kmqtjf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list-view:before {
  content: "\e903";
}
.icon-tile-view:before {
  content: "\e904";
}
.icon-user:before {
  content: "\e905";
}
.icon-menu:before {
  content: "\e902";
}
.icon-cart:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e901";
}
